<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 不合法的属性变量名 -->
<!--    <bean id="foo" class="com.demo.springdemo.attr.Foo">-->
<!--        <property name="iDCode" value="070101"/>-->
<!--    </bean>-->
</beans>