<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="waiterTarget" class="com.demo.springdemo.advisor.Waiter" />
	<bean id="sellerTarget" class="com.demo.springdemo.advisor.Seller" />
	<bean id="greetingAdvice" class="com.demo.springdemo.advisor.GreetingBeforeAdvice" />

	<!-- 1.向切面注入一个前置增强 -->
	<bean id="greetingAdvisor" class="com.demo.springdemo.advisor.GreetingAdvisor"
		p:advice-ref="greetingAdvice" />

	<!-- 2.通过一个父Bean定义公共的配置信息 -->
	<bean id="parent" abstract="true"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		p:interceptorNames="greetingAdvisor"
		p:proxyTargetClass="true" />

	<!-- 3.waiter代理和seller代理 -->
	<bean id="waiter" parent="parent" p:target-ref="waiterTarget" />
	<bean id="seller" parent="parent" p:target-ref="sellerTarget" />

	<bean id="regexpAdvisor"
		  class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
		  p:advice-ref="greetingAdvice">
		<property name="patterns">
			<list>
				<value>.*greet.*</value>
			</list>
		</property>
	</bean>
	<bean id="waiter1"
		  class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="regexpAdvisor"
		  p:target-ref="waiterTarget"
		  p:proxyTargetClass="true"
	/>

	<!-- 动态切面配置	-->
	<bean id="dynamicAdvisor"
		  class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut">
			<bean class="com.demo.springdemo.advisor.GreetingDynamicPointcut" />
		</property>
		<property name="advice">
			<bean class="com.demo.springdemo.advisor.GreetingBeforeAdvice" />
		</property>
	</bean>
	<bean id="waiter2"
		  class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="dynamicAdvisor"
		  p:target-ref="waiterTarget"
		  p:proxyTargetClass="true"
	/>

	<!-- 流程切面 -->
	<!-- <bean id="greetingAdvice" class="com.demo.springdemo.advisor.GreetingBeforeAdvice"/>-->
	<bean id="controlFlowPointcut" class="org.springframework.aop.support.ControlFlowPointcut">
		<constructor-arg type="java.lang.Class" value="com.demo.springdemo.advisor.WaiterDelegate"/>
		<constructor-arg type="java.lang.String" value="service"/>
	</bean>
	<bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
		  p:pointcut-ref="controlFlowPointcut"
		  p:advice-ref="greetingAdvice"
	/>
	<bean id="waiter3"
		  class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="controlFlowAdvisor"
		  p:target-ref="waiterTarget"
		  p:proxyTargetClass="true"
	/>

	<!-- 复合切点切面	-->
	<!-- <bean id="greetingAdvice" class="com.demo.springdemo.advisor.GreetingBeforeAdvice"/>-->
	<bean id="gcp" class="com.demo.springdemo.advisor.GreetingComposablePointcut" />
	<bean id="composableAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
		  p:pointcut="#{gcp.intersectionPointcut}"
		  p:advice-ref="greetingAdvice"
	/>
	<bean id="waiter4"
		  class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="composableAdvisor"
		  p:target-ref="waiterTarget"
		  p:proxyTargetClass="true"
	/>


	<!-- 引介切面 -->
	<bean id="introduceAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" >
	<!-- ControllablePerformanceMonitor 是一个 Advice 对象 -->
		<constructor-arg>
			<bean class="com.demo.springdemo.introduce.ControllablePerformanceMonitor"/>
		</constructor-arg>
	</bean>
	<bean id="forumServiceTarget" class="com.demo.springdemo.introduce.ForumService" />
	<bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="introduceAdvisor"
		  p:target-ref="forumServiceTarget"
		  p:proxyTargetClass="true"
	/>
</beans>
